@font-face {
  font-family: "Raleway";
  src: url("fonts/Raleway-VariableFont_wght.ttf");
}
@font-face {
  font-family: "OpenSans";
  src: url("fonts/Raleway-VariableFont_wght.ttf");
}
body {
  padding: 0;
  margin: 0;
}
